<ion-content>

  <div class="top">
    <div class="back_div">
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="light"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Junta de vecinos</ion-title>
    </div>
  </div>


  <div class="content_div">
    <!-- Cuadro de Bienvenida -->
    <ion-card class="cardData">
      <ion-card-content class="box">
        <h2>¡Quienes somos!</h2>
        <p class="bienvenida-descripcion">
          Quieres saber más de nosotros y como nos apoyamos como una comunidad.
        </p>
      </ion-card-content>
    </ion-card>

    <!-- nosotros -->
    <div>
      <div class="cardData">
        <span id="subject">Sobre Nosotros</span>
        <br>
        <div>
          <img src="/assets/images/image.png" alt="Imagen de la Comunidad" width="300" height="200" />
        </div>
        <br>
        <div class="descripcion">
          Bienvenido a nuestra comunidad. Nos enorgullece trabajar juntos para crear un ambiente seguro y armonioso para
          todos nuestros vecinos. Nos comprometemos a escuchar y atender tus necesidades.
        </div>
      </div>
    </div>

    <!-- mision-->
    <div>
      <div class="cardData">
        <span id="subject">Misión</span>
        <br>
        <div>
          <img src="/assets/images/mision.jpg" alt="Imagen de la Comunidad" width="300" height="200" />
        </div>
        <br>
        <div class="descripcion">
          Nuestra misión es fomentar la colaboración y la participación activa de todos los vecinos para mejorar la
          calidad de vida en nuestra comunidad.
        </div>
      </div>
    </div>

    <!-- vision -->
    <div>
      <div class="cardData">
        <span id="subject">Visión</span>
        <br>
        <div>
          <img src="/assets/images/vision.png" alt="Imagen de la Comunidad" width="300" height="200" />
        </div>
        <br>
        <div class="descripcion">
          Queremos ser una comunidad donde cada voz sea escuchada y cada vecino se sienta seguro como tambien
          satisfecho
          desde su casa.
        </div>
      </div>
    </div>
  </div>
</ion-content>