<ion-content [fullscreen]="true" class="login-content">
  <!-- Sección morada con icono y diseño -->
  <div class="header-background">
    <div class="icon-wrapper">
      <ion-icon name="people-circle-outline" class="header-icon"></ion-icon>
    </div>
    <h2 class="header-title">Login Junta Vecinal</h2>
    <p class="header-subtitle">Ingresa tus credenciales para continuar:</p>
  </div>

  <!-- Formulario de Login -->
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formulariologin">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input formControlName="clave" type="password"></ion-input>
        </ion-item>
      </form>

      <!-- Botón de Ingresar -->
      <ion-button color="#fafafa" expand="block" (click)="Ingresar()" class="custom-button">
        Ingresar
      </ion-button>

      <!-- Enlace de Olvidar Clave -->
      <div class="forgot-password">
        <a color="primary" [routerLink]="['/registro']">¿Olvidaste tu Clave?</a>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Enlace de Registrarse -->
  <div class="register-link">
    <p>¿No tienes una cuenta? <a color="primary" [routerLink]="['/registro']">Registrarse</a></p>
  </div>
</ion-content>
