<ion-content [fullscreen]="true">

        <!-- Sidebar -->
        <div class="menu-dashboard" id="sidebar">
          <div class="top-menu">
            <div class="logo">
              <!-- Aquí se agrega el logo -->
              <img src="assets/images/logo.png" alt="Logo de Junta Vecinal" class="logo-img">
            </div>
          </div>

        <!-- Menú -->
        <div class="menu">

          <div class="enlace" (click)="irAInicio()">
            <ion-icon name="home" size="small"></ion-icon>
            <span>Inicio</span>
          </div>

          <div class="enlace" (click)="irAQuejas()">
            <ion-icon name="chatbubbles" size="small"></ion-icon>
            <span>Quejas</span>
          </div>

          <div class="enlace" (click)="irAEventos()">
            <ion-icon name="calendar" size="small"></ion-icon>
            <span>Eventos</span>
          </div>

          <div class="enlace" (click)="irANoticias()">
            <ion-icon name="newspaper" size="small"></ion-icon>
            <span>Noticias</span>
          </div>

          <div class="enlace" (click)="irAReportarSituacion()">
            <ion-icon name="alert-circle" size="small"></ion-icon>
            <span>Reportes</span>
          </div>

          <div class="enlace" (click)="irAGestionUsuarios()">
            <ion-icon name="people" size="small"></ion-icon>
            <span>Usuarios</span>
          </div>

          <div class="enlace" (click)="irALocales()">
            <ion-icon name="storefront" size="small"></ion-icon> <!-- Icono para Locales -->
            <span>Locales</span>
          </div>

          <div class="enlace" (click)="volverAlLogin()">
            <ion-icon name="log-out" size="small"></ion-icon>
            <span>Cerrar Sesión</span>
          </div>
        </div>
      </div>


<div class="content" style="background-image: url('assets/images/fondo3.png'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh;">

  <div class="usuarios-container">

    <ion-card-header>
      <ion-card-title style="display: flex; align-items: center; font-size: xx-large; color: #4a4e69;">
        <ion-icon name="people" style="font-size: 1.6em; color: #6d5dfc; margin-right: 10px; font-weight: bold;"></ion-icon>
        <strong>Administrar Usuarios</strong>
      </ion-card-title>
    </ion-card-header>

    <!-- Contenedor para las tarjetas -->
    <div class="tarjetas-container">
      <ion-card class="tarjeta-formulario">
        <ion-card-header>
          <ion-card-title>{{ isEditMode ? 'Editar Usuario' : 'Agregar Usuario' }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="formularioUsuario">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input formControlName="nombre" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input formControlName="apellido" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">RUT</ion-label>
              <ion-input formControlName="rut" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input formControlName="correo" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Clave</ion-label>
              <ion-input formControlName="clave" type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label>¿Es Admin?</ion-label>
              <ion-checkbox slot="end" formControlName="admin"></ion-checkbox>
            </ion-item>
            <ion-button expand="full" color="secondary" (click)="guardarUsuario()" style="border-radius: 20px; overflow: hidden;">
              {{ isEditMode ? 'Actualizar Usuario' : 'Agregar Usuario' }}
            </ion-button>

            <!-- Botón para cancelar edición y volver al formulario de agregar -->
            <ion-button expand="full" *ngIf="isEditMode" (click)="cancelarEdicion()" style="border-radius: 20px; overflow: hidden;">
              Cancelar Edición
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>

      <!-- Tarjeta de lista de usuarios -->
      <ion-card class="tarjeta-usuarios">
        <ion-card-header>
          <ion-card-title>Usuarios Registrados</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- Barra de búsqueda -->
            <ion-searchbar
            [(ngModel)]="searchText"
            (ionInput)="filtrarUsuarios()"
            placeholder="Buscar usuario..."
            debounce="500">
          </ion-searchbar>

          <!-- Contenedor con scroll -->
          <div class="usuarios-scroll">
            <ion-list>
              <ion-item *ngFor="let usuario of listaUsuariosFiltrados">
                <ion-label>
                  <h3>{{ usuario.nombre }} {{ usuario.apellido }}</h3>
                  <p>{{ usuario.admin ? 'Admin' : 'Usuario Regular' }}</p>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button color="primary" (click)="editarUsuario(usuario)">Editar</ion-button>
                  <ion-button color="danger" (click)="eliminarUsuario(usuario.id)">Eliminar</ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
</ion-content>
