<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registre un evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="crearEvento()" #eventoForm="ngForm">
    <ion-item lines="full">
      <ion-label position="floating">Nombre del evento</ion-label>
      <ion-input type="text" [(ngModel)]="newEvento.nombreEvento" name="nombreEvento" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción del evento</ion-label>
      <ion-input type="text" [(ngModel)]="newEvento.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Evento</ion-label>
      <ion-select [(ngModel)]="newEvento.tipoEvento" name="tipoEvento" required>
        <ion-select-option value="Reuniones Mensuales">Reuniones Mensuales</ion-select-option>
        <ion-select-option value="Talleres y Charlas">Talleres y Charlas</ion-select-option>
        <ion-select-option value="Actividades Recreativas">Actividades Recreativas</ion-select-option>
        <ion-select-option value="Limpieza de la Comunidad">Limpieza de la Comunidad</ion-select-option>
        <ion-select-option value="Ferias y Mercados">Ferias y Mercados</ion-select-option>
        <ion-select-option value="Eventos Culturales">Eventos Culturales</ion-select-option>
        <ion-select-option value="Campañas de Seguridad">Campañas de Seguridad</ion-select-option>
        <ion-select-option value="Celebraciones Festivas">Celebraciones Festivas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha de Inicio</ion-label>
      <ion-datetime display-format="yyyy-MM-dd" [(ngModel)]="newEvento.horaInicio" name="horaInicio" required></ion-datetime>
    </ion-item>


    <!-- imagen -->
    <ion-item lines="full">
      <ion-input type="file" (change)="capturarImagen($event)" #imageProduct name="txtImagen"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!eventoForm.form.valid">Crear Evento</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
