<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="light"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Nuestras Autoridades</ion-title>
    </div>
  </div>


  <div class="content_div">
    <!-- Cuadro de Bienvenida -->
    <ion-card class="cardData">
      <ion-card-content class="box">
        <h2>¡Bienvenidos vecinos!</h2>
        <p class="bienvenida-descripcion">
          Aqui podra saber más sobre cada uno de nuestras autoridades y quienes son.
        </p>
      </ion-card-content>
    </ion-card>

    <div>
      <div class="cardData">
        <h2 class="roles-title">Roles Junta de Vecinos</h2>
        <div class="box">
          <ion-grid class="roles-grid">
            <ion-row class="roles-row">
              <!-- Miembro 1 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Presidente</h3>
                  <img src="/assets/images/fotostate/persona1.png" alt="Foto de Jose" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Jose</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 2 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Vicepresidenta</h3>
                  <img src="/assets/images/fotostate/persona2.webp" alt="Foto de Maria" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Maria</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 3 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Secretario</h3>
                  <img src="/assets/images/fotostate/persona3.jfif" alt="Foto de Luis" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Luis</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 4 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Tesorera</h3>
                  <img src="/assets/images/fotostate/persona4.jfif" alt="Foto de Ana" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Ana</p>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- autoridades -->
          <h2 class="roles-title">Autoridades</h2>
          <ion-grid class="roles-grid">
            <ion-row class="roles-row">
              <!-- Miembro 1 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Alcalde</h3>
                  <img src="/assets/images/fotostate/persona1.png" alt="Foto de Jose" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Jose</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 2 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Consejal</h3>
                  <img src="/assets/images/fotostate/persona2.webp" alt="Foto de Maria" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Maria</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 3 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Diputado</h3>
                  <img src="/assets/images/fotostate/persona3.jfif" alt="Foto de Luis" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Luis</p>
                </ion-card>
              </ion-col>

              <!-- Miembro 4 -->
              <ion-col size="auto">
                <ion-card class="member-card">
                  <h3 class="member-role">Senador</h3>
                  <img src="/assets/images/fotostate/persona4.jfif" alt="Foto de Ana" class="member-photo" />
                  <p class="member-name" style="color: #A58BD4;">Ana</p>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>