<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="noticia"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Registre una noticia</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Titulo de la Noticia</ion-label>
      <ion-input type="text" name="txtTitulo" [(ngModel)]="newNoticia.titulo" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripcion de la Noticia</ion-label>
      <ion-input type="text" name="txtDescripcion" [(ngModel)]="newNoticia.descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Subir Imagen</ion-label>
      <input type="file" accept="image/*" (change)="capturarImagen($event)" [disabled]="newNoticia.video != ''" />
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Subir Video</ion-label>
      <input type="file" accept="video/*" (change)="capturarVideo($event)" [disabled]="newNoticia.imagen != ''" />
    </ion-item>
  </form>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="crearNoticia()" expand="block">Crear la Noticia</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
